* {
    margin: 0;
    padding: 0;
    font-family: 'Amazon Ember', sans-serif;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    touch-action: pan-x pan-y !important;
    user-select: none !important;
    /* Standard syntax */
    /* font-family: 'Amazon Ember Cd RC', sans-serif;
    font-family: 'Amazon Ember Display', sans-serif;
    font-family: 'Amazon Ember Duospace', sans-serif;
    font-family: 'Amazon Ember Mono', sans-serif;
    font-family: 'Amazon Ember V2', sans-serif; */
}

html {
    background-color: #fff;
    touch-action: manipulation;
}

meta[name=viewport] {
    width: device-width;
    initial-scale: 1;
    maximum-scale: 1;
    user-scalable: no;
}

a,
a:visited {
    color: black
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    overflow: hidden;
}

#header {
    display: flex;
    border-bottom: 1px solid gray;
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
    background-color: #fff;
}

.hidden {
    display: none !important;
}

#header .btn {
    margin-right: 10px !important;
    flex-wrap: wrap;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 16px;
    padding: 10px 16px;
    background-color: transparent;
    border: 1px solid black;
    cursor: default;
    min-width: 16px;
}


.btn i {
    /* margin: 0 5px !important; */
}


.btn:hover {
    background-color: black !important;
    color: white;
}

.btn:visited {
    color: black;
    text-decoration: none
}

#shapes-container {
    width: 100%;
}

#shape-list {
    width: 100%;
    height: 94vh;
    /* height: 100%; */
    box-sizing: border-box;
    page-break-after: avoid !important;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    padding: 10px;
}

.dark #shape-list {
    background-color: white;
}

.white #shape-list {
    background-color: black;
}

.flex {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
}

.grid {
    display: grid;
    gap: 10px;
    padding: 0;
}

.shape {
    margin: 10px;
    min-width: 50%;
    min-height: 50%;
}

.grid .item {
    position: relative;
    padding: 10px;
    box-sizing: border-box;
    /* aspect-ratio: 1 / 1; */
}

/* .grid .item::before, 
.grid .item::after {
  content: '';
  position: absolute;
  background-color: black;
  z-index: 1;
}

.grid .item::after {
  inline-size: 100vw;
  block-size: 4px;
  inset-inline-start: -7px;
  inset-block-start: -7px;
}

.grid .item::before {
  inline-size: 4px;
  block-size: 100vh;
  inset-block-start: -8px;
  inset-inline-start: -8px;
} */

.a4,
.a4l {
    border: 1px solid #595959;
    /* margin-top: 10px !important; */
}

.a4 {
    width: 210mm !important;
    height: 1123px !important;
}

.a4l {
    height: 794px !important;
    width: 1123px !important;
}

.settings {
    display: flex;
}

.opt {
    display: none;
}

.item {
    height: 100%;
    text-align: center;
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Amazon Ember Display', sans-serif;
    /* border: 1px solid black; */
}

.white .item {
    background-color: #fff;
}

.dark .item{
    background-color: #000;
}

.item svg {
    /* width: 80% !important; */
}

.shape-size-info {
    position: absolute;
    margin-top: 4px;
    text-align: left;
    margin-left: 20px;
    width: 100%;
    left: 0;
    font-weight: 600;
    font-size: 25px;
    color: gray;
    display: none;
}

.shape-size-info i {
    font-size: 20px !important;
}

.inverted {
    filter: invert(1);
    -webkit-filter: invert(1);
    /* Safari and Chrome */
    -moz-filter: invert(1);
    /* Firefox */
    -ms-filter: invert(1);
    /* Internet Explorer */
    -o-filter: invert(1);
    /* Opera */
}

@media only screen and (max-width: 700px) {
    .btn span {
        display: none !important;
    }

    #header {
        justify-content: center;
    }
}

@media print {

    html,
    body,
    .a4,
    .a4l {
        margin: 0;
        padding: 0;
    }
}

.hidden {
    display: none;
}